<!DOCTYPE html>
<html>
  <head>
    <title>DavidBird</title>
    <% stylesheet_link_tag :all %>
    <%= stylesheet_link_tag 'style.css' %>
    <%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js' %>
    <% javascript_include_tag 'processing.js' %>
    <% javascript_include_tag 'canvas_text.js' %>
    <% javascript_include_tag 'setup.js' %>
    <%= javascript_include_tag 'align.js' %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
