<!DOCTYPE html>
<html>
  <head>
    <title>DavidBird</title>
    <% stylesheet_link_tag :all %>
    <%= stylesheet_link_tag 'style.css' %>
    <%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js' %>
    <% javascript_include_tag 'processing.js' %>
    <% javascript_include_tag 'canvas_text.js' %>
    <% javascript_include_tag 'setup.js' %>
    <%= javascript_include_tag 'align.js' %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div id="container">
      <div id="column">
        <div id="navigation">
          <div id="navbar">
            <div class="navtitle"><%= image_tag 'davidbird.png', {:height => "27"} %></br></div>
            <div class="navbutton" ><%= link_to( image_tag('bio.png', {:mouseover => 'bio_mouseover.png', :height => "19"} ), 'bio')%></br></div>
            <div class="navbutton" ><%= link_to image_tag('work.png', {:mouseover => 'work_mouseover.png', :height => "19"}), 'work' %></br></div>
            <div class="navbutton" ><%= link_to image_tag('contact.png', { :mouseover => 'contact_mouseover.png', :height => "19"}), 'contact' %></br></div>
          </div>
        </div>
        <div id="content">
          <%= yield %>
        </div>
        <div id="footer">
        </div>
      </div>
    </div>
  </body>
</html>
